<div class="input-group mb-3">
    <input type="number" class="form-control {{ typ }}" value="0"
     oninput="this.value=Math.abs(this.value)" name="{{dt}}" min="0" step="1">
    <div class="input-group-append">
        <button type="button" class="btn n small-{{typ}} click" typ="{{ typ }}" seb="big" v="1">small</button>
        <button type="button" class="btn big big-{{typ}} click" typ="{{typ}}" seb="equal" v="2">big</button>
        <button type="button" class="btn n equal equal-{{typ}} click" typ="{{typ}}" seb="small" v="3">equal</button>
    </div>
    <input type="hidden" name="{{ typ }}-type" value="1" class="{{ typ }}-type">
</div>